<div class="driver-details-container">
  <header class="header-section">
    <h4>Detalhes do Motorista</h4>
  </header>
  <div class="button-section">
    <button [routerLink]="['/driver']" aria-label="Voltar para a lista de motoristas" class="back-button">Voltar
    </button>
  </div>
  <main *ngIf="driver" class="content-section">
    <section class="driver-info">
      <article class="info-column">
        <p><strong>ID:</strong> {{ driver.id }}</p>
        <p><strong>Nome:</strong> {{ driver.name }}</p>
        <p><strong>Telefone:</strong> {{ driver.phoneNumber }}</p>
        <p><strong>Data de Nascimento:</strong> {{ driver.birthDate | date }}</p>
      </article>
      <article class="info-column">
        <p><strong>Placa do Veículo:</strong> {{ driver.vehiclePlate }}</p>
        <p><strong>Modelo do Veículo:</strong> {{ driver.vehicleModel }}</p>
        <p><strong>Criado Por:</strong> {{ driver.createdBy }}</p>
        <p><strong>Criado Em:</strong> {{ driver.createdAt | date }}</p>
      </article>
    </section>
  </main>
</div>
