.example-container {
  height: 100vh;
}

.custom-drawer {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinha a lista no início */
  align-items: center;
}

mat-drawer-content {
  width: 88%;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

mat-nav-list {
  padding: 0;
  width: 100%;
  margin-top: 10vh; /* Inicia a lista a 10% da altura da página */
}

mat-list-item {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center; /* Alinha ícone e texto verticalmente */
  text-align: center; /* Centraliza o texto */
}

mat-list-item:hover {
  background-color: #e0e0e0;
}

.center-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza ícone e texto horizontalmente */
}

.aligned-icon {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  font-size: 20px; /* Ajusta o tamanho do ícone para combinar com o texto */
  display: inline-flex;
  align-items: center; /* Garante que o ícone esteja alinhado verticalmente com o texto */
}
