.example-container {
  height: 100vh; // para garantir que o container ocupe toda a altura da página
}

.custom-drawer {
  width: 12%; // define a largura do drawer como 12% da largura da página
}

mat-drawer-content {
  width: 88%; // define a largura do conteúdo principal como 88%
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #f8f9fa; // ajuste conforme necessário
  padding: 10px; // ajuste conforme necessário
  text-align: center; // ajuste conforme necessário
  border-bottom: 1px solid #ddd; // ajuste conforme necessário
}
