<mat-drawer-container class="example-container">
  <mat-drawer class="custom-drawer" mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="center-text" [routerLink]="['/driver']" >Driver</mat-list-item>
      <mat-list-item class="center-text" [routerLink]="['/client']">Client</mat-list-item>
      <mat-list-item class="center-text" [routerLink]="['/manager']">Manager</mat-list-item>
      <mat-list-item class="center-text" [routerLink]="['/material']">Material</mat-list-item>
      <mat-list-item class="center-text">Carload</mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <header class="main-header">Header Content</header>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
