<h2 class="centered-header" mat-dialog-title>Adicionar Motorista</h2>
<mat-dialog-content class="mat-typography full-page-content">
  <form (ngSubmit)="createOrUpdateDriver()" [formGroup]="profileForm" class="full-width-form">
    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput placeholder="Nome do Motorista">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Telefone</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Telefone">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Data de Nascimento</mat-label>
      <input [matDatepicker]="picker" formControlName="birthDate" matInput placeholder="Escolha uma data">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Placa do Veículo</mat-label>
      <input formControlName="vehiclePlate" matInput placeholder="Placa do Veículo">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Modelo do Veículo</mat-label>
      <input formControlName="vehicleModel" matInput placeholder="Modelo do Veículo">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onClose()" mat-button>Fechar</button>
  <button (click)="createOrUpdateDriver()" color="primary" mat-raised-button type="submit">Adicionar</button>
</mat-dialog-actions>
