<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>

  <div class="dashboard-cards">
    <mat-card class="dashboard-card">
      <mat-card-title>Card 1</mat-card-title>
      <mat-card-content>
        <p>Conteúdo do Card 1</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Card 2</mat-card-title>
      <mat-card-content>
        <p>Conteúdo do Card 2</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Card 3</mat-card-title>
      <mat-card-content>
        <p>Conteúdo do Card 3</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
