.manager-details-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.header-section {
  background-color: #f8f9fa;
  padding: 10px 0; /* Ajuste do padding para mais espaço */
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 5%; /* Ocupa 5% do container */
  box-sizing: border-box;
}

.content-section {
  padding: 20px;
  background-color: #f1f1f1; /* Cor de fundo do conteúdo */
  overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
  flex: 1; /* Ocupa o espaço restante */
  display: flex;
  flex-direction: column;
}

.manager-info {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espaço entre as colunas */
}

.info-column {
  background-color: #fff; /* Cor de fundo das colunas de informações */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1; /* Permite que as colunas cresçam igualmente */
}

.info-column p {
  margin: 8px 0;
}

.button-section {
  background-color: #f8f9fa; /* Cor de fundo da seção de botões */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex: 0 0 10%; /* Ocupa 10% da altura do container */
}

.back-button {
  height: 36px; /* Ajusta a altura dos botões */
  font-size: 0.75rem; /* Ajusta o tamanho da fonte */
  margin: 0 4px; /* Espaço entre os botões */
  border-radius: 4px; /* Bordas arredondadas */
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remove bordas padrão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.back-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .manager-info {
    flex-direction: column; /* Coloca as colunas em uma coluna única */
    gap: 10px; /* Reduz o espaço entre as colunas */
  }
}
